.react-datepicker {
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: var(--cards-shadow);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container .react-datepicker-ignore-onclickoutside {
  width: 100%;
}

.react-datepicker-wrapper input {
  max-width: 250px;
  padding: 5px;
}
@media screen and (min-width:300px) {
  .react-datepicker-wrapper input  {
    min-width:100%;
    padding: 5px;
    font-size: 13px;
  }
}

@media screen and (min-width:800px) {
  .react-datepicker-wrapper input  {
    font-size: 14px;
  }
}


.react-datepicker-wrapper input {
  outline-color: rgb(250, 249, 249);
}

.react-datepicker__input-container input {
  background-color: var(--primary-color);
  outline: var(--borders-color);
}


.react-datepicker__header {
  background-color: var(--accent-primary);
  color: white;
}

.react-datepicker__day {
  color: var(--primary-text);
}

.react-datepicker__day--selected {
  background-color: var(--accent-primary);
  color: white;
}

.react-datepicker__day--today {
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--accent-primary);
}

.react-datepicker__time-list {
  background-color: var(--primary-color);
  color: var(--primary-text);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: var(--accent-primary);
}

.react-datepicker__week .react-datepicker__day--disabled {
  border-radius:5px;
  background-color: var(--secondary-color) !important;
}

p {
  color: var(--primary-text);
  font-weight: 700;
}
