@import "variables.css";
@import "../components/DateTime/DateTime.modules.css";
@import "../components/Button/Button.modules.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 15rem;
}

#modal-root {
  position: relative;
}

#toasts-root {
    position: fixed;
    z-index: 9999 !important;
}

span > [id*="tooltip"] {
  background-color: var(--primary-color);
  border: 1px solid lightgray;
  border-radius: 15px;
  color: var(--secondary-text);
}

.primary-background {
  background-color: var(--primary-color);
}

dialog::backdrop {
  background-color: var(--primary-color);
  opacity: 0.8;
}

.secondary-background {
  background-color: var(--secondary-color);
}

.bg-red {
  background-color: red;
}

.accent-secondary-background {
  background-color: var(--accent-secondary);
}

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}
.filters-color {
  color: var(--primary-text);
  transition: all 0.3s;
}
.accent-text {
  color: var(--accent-primary);
}

.navigation-color {
  color: var(--accent-primary);
  transition: all 0.3s;
}

.navigation-color:hover {
  color: #800080;
  text-shadow: 2px 2px 4px rgba(128, 0, 128, 0.5);
}

.filters-color:hover {
  color: var(--accent-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5);
}

.accent-background {
  background-color: var(--accent-primary);
}

.white-text {
  color: var(--white-text);
}

.border-color {
  border-color: var(--borders-color);
}

.box-shadow {
  box-shadow: var(--cards-shadow);
}

.loaderWrapper {
    border: none;
    outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

@layer utilities {
  .h-100vh-minus-86px {
    height: calc(100vh - 86px);
  }
}

.customHover:hover {
  color: blue;
  transition: color 0.3s;
}

.icon-plus {
  transition: color 0.3s;
}
.icon-plus:hover {
  color: var(--accent-secondary);

}

@media (min-width: 400px) {
  .width-400 {
    width: 50%;
  }
}